<footer>
  <p mt-8 text-xs op-30>
    <a
      b-slate-link
      href="https://www.mclishang778.xyz/" target="_blank"
    >
      MCLISHANG Blog
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=U0letYnpA7vXksu7l1moYMJgEDDlzC95&authKey=%2Bd0Wf1WgFqFIzgpAxvBi25CPPC68H51zM4ooukj7LK7AxwvOqfaQ7iwTYFkfFAg0&noverify=0&group_code=1090895819" target="_blank"
    >
      QQ Group
    </a>
    {import.meta.env.PARTNER_LINK && import.meta.env.PARTNER_LINK_TITLE && (
      <>
        <span px-1>|</span>
        <a
          b-slate-link
          href={import.meta.env.PARTNER_LINK} target="_blank"
        >
          {import.meta.env.PARTNER_LINK_TITLE}
        </a>
      </>
    )}
  </p>
</footer>
